@font-face { font-family: 'politicaregular'; src: url('../fonts/politica-webfont.woff2') format('woff2'), url('../fonts/politica-webfont.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'politicabold'; src: url('../fonts/politica-bold-webfont.woff2') format('woff2'), url('../fonts/politica-bold-webfont.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'politicaextrabold'; src: url('../fonts/politica-extrabold-webfont.woff2') format('woff2'), url('../fonts/politica-extrabold-webfont.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'ge_ss_tvbold'; src: url('../fonts/ge_ss_tv_bold-webfont.woff2') format('woff2'), url('../fonts/ge_ss_tv_bold-webfont.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'ge_ss_tvlight'; src: url('../fonts/ge-ss-tv-light-webfont.woff2') format('woff2'), url('../fonts/ge-ss-tv-light-webfont.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'ge_ss_tvmedium'; src: url('../fonts/ge-ss-tv-medium-webfont.woff2') format('woff2'), url('../fonts/ge-ss-tv-medium-webfont.woff') format('woff'); font-weight: normal; font-style: normal; }
html, body { width: 100%; height: 100%; }
body { font-size: 16px; line-height: 29px; color: #212121; background-color: #fff; overflow-x: hidden; -webkit-text-size-adjust: 100%; -webkit-overflow-scrolling: touch; -webkit-font-smoothing: antialiased; font-family: 'politicaregular'; }
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.btn:focus, .btn:active:focus, .btn.active:focus { outline: none; outline: none; outline-offset: 0; box-shadow: none; }
input:focus, textarea:focus, select:focus { outline: none; }
a:focus, a:hover, a:active { outline: none !important; }
.field__label.visually-hidden { display: none !important; }

/* ----------- Material ----------*/
.input-field .prefix.active { color: #d99f1f; }
a { color: #4f59a8; }
:focus {outline: none;}
a, a>* { outline: none; cursor: pointer; text-decoration: none }
a:focus, a:hover { color: #212121; outline: none; text-decoration: none }
a, .navbar a, .form-control { -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease }
h1, h2, h3, h4, h5, h6 { font-family: 'politicabold'; color: #202020; margin: 0 0 15px }
h1 { font-size: 40px }
h2 { font-size: 30px }
h3 { font-size: 26px }
h4 { font-size: 16px }
h5 { font-size: 14px }
h6 { font-size: 12px }
p img { margin: 0 }
img { max-width: 100%; height: auto; }
p { margin: 0 0 1em; line-height: 24px }
hr { margin: 0 }
b, strong { font-weight: bolder; }
.btn { background-color: #d99f1f; border: 0; box-shadow: none; border-radius: 0; height: auto; line-height: normal; height: 40px; line-height: 40px; }
button.btn { line-height: 2px; }
.btn:hover { box-shadow: none; }
.btn-lg { padding: 12px 38px }
.btn:hover { background-color: #333; color: #fff }
.buts .btn { margin: 6px; }
ul.inline { display: table; width: 100%; }
ul.inline li { display: table-cell }
.flex-row, .row { display: flex; flex-wrap: wrap; justify-content: space-between; }
.two-col .col-md-6 { width: 46%; }
.col-2 .item { width: 46%; }
.col-3 .item { width: 31%; }
.col-4 .item { width: 24%; }
table td { word-wrap: break-word; white-space: initial; }
table td, table th{ padding-left:0; }
#main-header .container { width: auto; margin: 0; max-width: none; }
#main-header .container:after { content: ''; display: block; clear: both; }
#main-header .sidenav-trigger { float: right; }
#main-header .brand-logo { max-width: 25%; position: relative; left: auto; -webkit-transform: none; transform: none; }
.top-menu { background: none; height: auto; padding: 10px 0; line-height: normal; }
img { max-width: 100%; }
.brand-logo img, .brand-logo a { display: block; }
#main-header li.user img { width: 45px; border-radius: 50%; overflow: hidden; vertical-align: middle; margin-right: 10px; background: #fff; }
.top-menu { -webkit-box-shadow: none; box-shadow: none; }
#main-container,#main-content { min-height: calc(100vh - 148px); }
#main-header .sidenav-trigger { color: #333; }
#footer { background: #171b1d; padding: 25px 0 16px; color: #fff; font-family: 'politicabold'; }
#register-wrap { background: linear-gradient(to right, rgba(79, 92, 170, 1) 0%, rgba(109, 120, 184, 1) 100%); padding: 40px 0 20px; color: #fff; font-size: 24px; }
.red-btn { background: #ee3748; color: #fff; height: auto; }
#register-wrap i { line-height: normal; }
.page-title { background-color: #4f59a8; margin-bottom: 20px; padding: 40px 0; }
.page-title {  background-size: 220px; background-position: -40px 30px; }
.page-title h1 { margin: 0; color: #fff; font-size: 26px; padding: 0; }
#breadcrumb-wrap { margin-bottom: 30px; color: #4f59a8; }
#breadcrumb-wrap a { color: #000; }

/* -------------------------------- */
#main-header { padding: 2px 0; }
.brand-logo { width: 350px; }
#main-nav a { color: #333; font-weight: bold; }
#main-nav a:hover { background: none; }
#main-nav li a.get-started { background: #4f5aa8; color: #fff; height: auto; line-height: 36px; margin-top: 11px; }
#main-nav .sidenav li a.get-started:hover { background: #F44336; }
#main-nav a.get-started i { position: relative; left: 5px; float: right; color: #fff; margin: 0; line-height: 36px; }
.blue-text { color: #4f5ba8 !important; }
.top-line img { opacity: 0; }
.top-line { background: url("../images/top-line.png"); padding: 10px 0; background-repeat: repeat-x; background-size: 273px; height: 76px; margin-top: 15px; padding: 0; margin-bottom: 10px; }
.banner-contact { display: flex; background: #fff; width: 430px; }
.banner-contact p { margin: 0; padding: 8px 20px; }
.banner-contact p.ct-title { background: #ee3748; text-transform: uppercase; color: #fff; font-weight: bold; }
.banner-contact p.ct-title i { color: #fff; }
.banner-contact p i { color: #4f59a8; padding-right: 4px; }
.app-slider { position: relative; }
.app-slider .banner-contact { position: absolute; top: 100px; left: 15%; box-shadow: 0 2px 4px #0000004a; z-index: 99; }
.app-slider .sharefollow { position: absolute; bottom: 120px; left: 4%; z-index: 99; }
.app-slider .sharefollow li a { width: 40px; height: 40px; display: inline-block; color: #fff; text-align: center; font-size: 18px; }
.app-slider .sharefollow li a:hover { color: #ff9800; }
.app-slider .sl-title b { display: block; padding: 0; width: 70px; transform: rotate(-90deg); white-space: nowrap; border-left: 2px solid #4f59a8; text-transform: uppercase; color: #fff; position: relative; left: 18px; bottom: -46px; transform-origin: left; padding-left: 6px; line-height: 20px; }
.service-zone .item .desc { background: #fcb612; color: #fff; }
.service-zone .item .desc:before { border-color: transparent transparent #fcb612 transparent; }
.service-zone .item:nth-child(1) .desc strong { color: #fcb612; transition: all 1s ease; }
.service-zone .item:nth-child(1) .desc { background: #fff; color: #333; }
.service-zone .item:nth-child(1) .desc:before { border-color: transparent transparent #fff transparent; }
.service-zone .item:nth-child(1):hover .desc strong { color: #fff; }
.service-zone .item:nth-child(1):hover .desc { background: #fcb612; color: #fff; }
.service-zone .item:nth-child(1):hover .desc:before { border-color: transparent transparent #fcb612 transparent; }
.service-zone .item:nth-child(2) .desc strong { color: #ee3748; transition: all 1s ease; }
.service-zone .item:nth-child(2) .desc { background: #fff; color: #333; }
.service-zone .item:nth-child(2) .desc:before { border-color: transparent transparent #fff transparent; }
.service-zone .item:nth-child(2):hover .desc strong { color: #fff; }
.service-zone .item:nth-child(2):hover .desc { background: #ee3748; color: #fff; }
.service-zone .item:nth-child(2):hover .desc:before { border-color: transparent transparent #ee3748 transparent; }
.service-zone .item:nth-child(3) .desc strong { color: #4f5caa; transition: all 1s ease; }
.service-zone .item:nth-child(3) .desc { background: #fff; color: #333; }
.service-zone .item:nth-child(3) .desc:before { border-color: transparent transparent #fff transparent; }
.service-zone .item:nth-child(3):hover .desc strong { color: #fff; }
.service-zone .item:nth-child(3):hover .desc { background: #4f5caa; color: #fff; }
.service-zone .item:nth-child(3):hover .desc:before { border-color: transparent transparent #4f5caa transparent; }
.service-zone .item .desc:before, .service-zone .item .desc { transition: all 1s ease; }
.service-zone .icon { width: 60px; height: 60px; border: 9px solid #646d71; }
.service-zone .item:nth-child(1) .icon { border-radius: 50%; border-color: #646d71 #fcb612 #fcb612 #646d71; transform: rotate(-45deg); }

/*.app-slider:after { content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; }*/
.app-slider .sl-title:after { content: ''; display: block; width: 2px; height: 92px; background: #4f5aa8; bottom: 0; position: relative; top: 34px; left: 16px; }
.app-slider .sharefollow { bottom: 18px; }
.orange-circle { border: 6px solid #fcb612; width: 40px; height: 40px; display: block; border-radius: 50%; position: absolute; right: -40px; bottom: 110px; }
.about-studio { position: relative; }
.about-studio { padding: 50px 0 10px; }
h2 { font-size: 32px; font-family: 'politicabold'; color: #4f5ba8; position: relative; margin-bottom: 40px; }
h2 span { display: block; font-size: 12px; font-family: 'politicabold'; line-height: normal; margin-bottom: 2px; }
h2.line:after { content: ''; display: block; clear: both; background: #f00; width: 50px; height: 3px; margin-top: 12px; }
.top-images { width: 90%; margin: 0 auto; display: table; padding-top: 60px; padding-bottom: 20px; }
.top-images div { padding: 0 20px; display: table-cell; }
.top-images div img { width: 100%; }
.zone-text { display: flex; }
.zone-text h3 { margin: 0; line-height: normal; width: 100px; }
.zone-text >div { width: 390px; }
.zone-text h3, .zone-text div { display: flex; justify-content: center; flex-direction: column; line-height: normal; }
.zone-text h3 { border-right: 2px solid #fff; margin-right: 20px; position: relative; }
.zone-text h3:after { content: ''; display: block; width: 0; height: 0; border-style: solid; border-width: 5px 6px 5px 0; border-color: transparent #ffffff transparent transparent; position: absolute; right: 0; top: 41%; }
.service-zone { padding-top: 40px; }
.service-zone .desc { background: #fff; padding: 20px; min-height: 194px; border-bottom: 3px solid #e4e4e4; }
.service-zone .desc p { margin-bottom: 0; }
.service-zone .desc { position: relative; }
.service-zone .desc:before { content: ''; width: 0; height: 0; border-style: solid; border-width: 0 20px 20px 20px; border-color: transparent transparent #ffffff transparent; display: block; position: absolute; top: -11px; left: 20px; }
.service-zone h3 { margin-bottom: 30px; font-size: 22px; color: #61676b; margin-left: 20px; }
.news-wrap { background: #f5f5f5; padding-bottom: 40px; }
.service-zone .icon { margin-left: 20px; margin-bottom: 10px; }
.news-item .date-wrap { color: #848484; font-size: 12px; }
.news-item .img-wrap { width: 45%; float: right; margin-left: 4%; }
.news-item .category-wrap { border-bottom: 3px solid #6fcddf; font-weight: bold; font-size: 18px; width: 50%; margin-bottom: 20px; color: #6fcddf; padding-bottom: 5px; }
.news-item h3 { font-size: 18px; }
.gal-item .category-wrap { border-bottom: 3px solid #ed3748; color: #ed3748; margin-bottom: 7px; text-transform: uppercase; }
.gal-item .img-wrap { height: 129px; overflow: hidden; margin-bottom: 0px; }
.gal-item .img-wrap img { display: block; }
.gal-item .img-wrap { }
.gal-item .desc p { margin-bottom: 0; color: #4f5aa8; line-height: normal; }
.gal-item .date-wrap { color: #888; font-size: 12px; }
.gal-item .category-wrap.Gallery { border-bottom: 3px solid #fbb513; color: #fbb513; }
.zone-wrap .container { position: relative; }
.zone-wrap  .grey-square { width: 30px; height: 30px; border: 6px solid #61676b; display: block; position: absolute; bottom: 60px; left: -110px; }
.news-wrap h2 { position: relative; }
.news-wrap .grey-square-rotate { position: absolute; bottom: 27px; right: 50%; }
.grey-square-rotate { width: 24px; height: 24px; display: block; border: 4px solid #ccc; transform: rotate(45deg); }
.news-wrap .container { position: relative; }
.multi-square { width: 26px; height: 26px; border: 1px solid #4f5aa8; display: block; }
.multi-square b { width: 20px; height: 20px; border: 1px solid #4f5aa8; display: block; margin: 2px; }
.multi-square b i { width: 14px; height: 14px; border: 1px solid #4f5aa8; display: block; margin: 2px; }
.gal-item { position: relative; }
.gal-item:after { content: ''; display: block; clear: both; position: absolute; border-left: 1px solid #ccc; height: 100%; top: 0; left: -9%; }
.news-wrap .grey-square-rotate { right: 49%; }
.news-wrap .multi-square { position: absolute; top: 5px; right: -60px; }
.news-wrap .multi-circle { width: 26px; height: 26px; border: 1px solid #61676b; display: block; position: absolute; top: 55px; right: -110px; border-radius: 50%; }
.news-wrap .multi-circle b { width: 20px; height: 20px; border: 1px solid #61676b; display: block; margin: 2px; border-radius: 50%; }
.news-wrap .multi-circle b i { width: 14px; height: 14px; border: 1px solid #61676b; display: block; margin: 2px; border-radius: 50%; }
.gal-item .category-wrap { position: relative; }
.gal-item .category-wrap:after { content: ''; display: block; clear: both; width: 40px; height: 40px; position: absolute; top: -30px; right: 10px; border-radius: 50%; background-color: #ed3748; }
.gal-item .category-wrap.Gallery { position: relative; }
.gal-item .category-wrap.Gallery:after { background-color: #fbb513; }
#register-wrap .container { position: relative; }
#register-wrap .multi-square-orange { width: 50px; height: 50px; border: 3px solid #fcb612; display: block; position: absolute; top: -64px; right: 20%; transform: rotate(45deg); }
#register-wrap .multi-square-orange b { width: 38px; height: 38px; border: 3px solid #fcb612; display: block; margin: 3px; }
#register-wrap .multi-square-orange b i { width: 26px; height: 26px; border: 3px solid #fcb612; display: block; margin: 3px; }
.view-more { padding: 20px 0 40px; }
.view-more a { border: 1px solid #ccc; padding: 4px 20px; display: inline-block; color: #333; font-size: 12px; font-family: 'politicabold'; }
.news-wrap .view-more { text-align: center; padding: 40px 60px; }
.news-wrap .view-more a { display: inline-block; border: 1px solid #4f5aa8; padding: 2px 30px; color: #61676b; line-height: 32px; font-weight: bold; }
.app-slider { position: relative; height: calc(100vh - 78px); overflow: hidden; }
.app-slider video { position: absolute; bottom: 0; height: 110vh; right: 0; }
.video-box { position: absolute; top: 0; bottom: 0; width: 100%; height: 100%; overflow: hidden; }
.video-box video { min-width: 100%; min-height: 100%; width: auto; height: auto; position: absolute; bottom: 0%; right: 0%; }
.banner-text-wrapper { background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.92) 100%); width: 100%; bottom: 0; left: 0; position: absolute; padding: 20px 0 75px; }
.banner-text { width: 60%; padding-left: 15%; }
.banner-text h1 { font-size: 80px; font-family: 'politicaregular'; text-transform: uppercase; color: #fff; }
.banner-text h3 { font-family: 'politicaregular'; font-size: 42px; color: #fff; }
.banner-text p { color: #fff; font-size: 20px; }
.blue-text b { color: #fff; font-weight: normal; }

/* -------- Inner page -------*/
.page-title { position: relative; }
.yellow-box { width: 24px; height: 24px; background: #fcb612; display: block; position: absolute; left: 62%; transform: rotate(45deg); bottom: -12px; }
.page-title .container { display: flex; justify-content: space-between; }
.page-title .share-page { display: flex; }
.page-title .share-page a { display: block; border: 1px solid #fff; width: 32px; height: 32px; margin: 0 6px; text-align: center; color: #fff; line-height: normal; line-height: normal; border-radius: 50%; background: #fff; color: #4f58a8; font-size: 18px; padding-top: 4px; padding-left: 5px; }
.share-page h3 { color: #fff; font-size: 17px; text-transform: uppercase; margin: 0; margin: 6px 16px 0 0px; }
.gal-item .desc { color: #000; }
.gal-item a:hover .desc { color: #4f5ba8; }
.news-wrap .view-more a:hover { background: #4f5aa8; color: #fff; }

/* ----- form ----*/
#main-container .input-field label { color: #000; font-size: 14px; font-family: 'politicabold'; transform: none; line-height: normal; }
#main-container .input-field input { font-family: 'politicaregular'; border: 1px solid #ccc; height: auto; padding: 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-bottom: 4px; }
#main-container .input-field input.invalid { box-shadow: none; border: 1px solid #ff8b83; background: #ffd9d6; color: #f44236; }
#main-container .input-field input.valid { box-shadow: none; border: 1px solid #82cc85; background: #ebffec; color: #4CAF50; }
#main-container .input-field { margin-top: 0; }
#main-container .input-field { margin-top: 0; padding-top: 28px; margin-bottom: 12px; }
.subscribe-form .row { margin-bottom: 0; }
#main-container .input-field input:focus { border: 1px solid #4f59a8; -webkit-box-shadow: none; box-shadow: none; }
.btn-wrap { padding: 20px 0; }
#main-nav li a.get-started:after { content: normal; }


/* -------- Media Center page ---------*/
.media-center-page .category-wrap { border-bottom: 1px solid #ccc; text-transform: uppercase; font-family: 'politicabold'; margin-bottom: 20px; }
.media-center-page .category-wrap.gallery { color: #ffb500; border-bottom: 1px solid #ffb500; }
.media-center-page .category-wrap.video { color: #ff083c; border-bottom: 1px solid #ff083c; }
.media-center-page  .category-wrap.article { color: #45d0e2; border-bottom: 1px solid #45d0e2; }
.media-center-page .date-wrap { font-family: 'politicabold'; font-size: 12px; }
.media-center-page .media-item h3 { font-size: 20px; }
.media-center-page .media-item h3 a { color: #000; }
.media-center-page .media-item h3 a:hover { color: #4f59a8; text-decoration: underline; }
.filter-wrap { position: relative; }
.filter-wrap .grey-square-rotate { position: absolute; bottom: -90%; left: 50%; }
.filter-wrap .multi-square { position: absolute; bottom: -30%; left: -40%; }
.media-center-page .media-item { width: 100%; }

/* -------Single News -----*/
#main-container.single-news { position: relative; }
.single-news .multi-square { position: absolute; top: 20%; left: 4.5%; }
.single-news .grey-square-rotate { position: absolute; border-color: #fcb612; top: 33%; left: 4%; }
.single-news .orange-circle { right: 90px; top: 140px; }
.single-news .grey-square-rotate.bottom { top: auto; bottom: 15%; left: 8%; }
.single-news .date-wrap { padding-bottom: 20px; font-size: 14px; font-weight: bold; color: #b3b3b3; }
.single-news .gallery-news { background: #f8f8f8; padding: 100px 0; }
.single-news .view-more a { border: 1px solid #f7b214; }
.single-news .view-more a i { position: relative; top: 6px; left: -5px; }
.single-news .video-news { background: #f8f8f8; padding: 40px 0; }
.gallery .page-title { background-color: #f7b214; }
.video .page-title { background-color: #ee3646; }
.article .page-title { background-color: #6fcddf; }
.media-center-page .left-side { padding: 0; }
.media-content { position: relative; }
.media-content .orange-circle { position: absolute; right: -90px; bottom: 57%; display: block; }
.gallery-news .container { display: none; }
.gallery-news .item img { width: 100%; }
#main-nav li a { position: relative; }
#main-nav li.lang a span { position: absolute; width: 30px; border: 1px solid #853150; height: 13px; top: 11px; left: -20px; }
#main-nav li.lang a span:after { content: ''; position: absolute; top: 0; left: 0; display: block; width: 15px; background: #853150; height: 12px; }
#main-nav li.lang a:after { content: normal; }
#main-nav > li.lang { padding-left: 30px; }
#main-header .sidenav li.lang >a { line-height: 30px; }
.scroll-top { background: none !important; border: none; color: #fff; text-transform: uppercase; position: fixed; bottom: 20px; right: 5%; cursor: pointer; }
.scroll-top:before { content: ''; display: block; width: 36px; height: 36px; margin-bottom: 6px; margin-bottom: 6px; background-size: 16px; background-position: 10px 9px; }
.subscribe .material-icons { position: relative; top: 5px; }
.subscribe .material-icons { -moz-transition: all .4s ease; transition: all .4s ease; }
.subscribe:hover .material-icons { transform: translate(10px, 0px); }
.view-more a .material-icons, .red-btn .material-icons, #main-header .sidenav li >a.get-started .material-icons { -moz-transition: all .4s ease; transition: all .4s ease; }
.view-more a:hover .material-icons, .red-btn:hover .material-icons, #main-header .sidenav li >a.get-started:hover .material-icons { transform: translate(10px, 0px); }
.slick-slider { height: auto; }
.gallery-news .container { width: 500px; }
.slick-dots { border: 1px solid #f00; display: none !important; }
.gallery-news .slick-next, .gallery-news .slick-prev { position: absolute;  z-index: 99; top: 40%; width: 80px; height: 80px; cursor: pointer; border-radius: 50%; border: none; text-indent: -999px; overflow: hidden; background-size: 90px; background-position: -35px 27px; }
.gallery-news .slick-prev { background-position: 20px 27px; }
.slick-slider { width: 70%; margin: 0 auto; }
.slick-list { overflow: visible; position: relative; }
.slick-slider .item { padding: 0 20px; }
.slick-initialized .slick-slide img { box-shadow: none; }
.slick-next { right: -5px; }
.slick-prev { left: -5px; }
.article-news img { width: 100%; display: block; }
#footer { position: relative; }
#footer .scroll-top { position: absolute; }
#main-nav > li.lang { display: none; }
.filter-wrap a.active { color: #fcb612; font-weight: bold; }

/*-------------- Login Form --------------*/
.login-form #school_id { display: block; }
.register-form .mobile.row .col { padding-left: 0; margin-left: 0; }
.register-form .mobile.row { margin-bottom: 0; }

.box24 { width: 100%; height: auto; border-style: solid; border-width: 2px; border-color: #5fc091; background-color: #fafffd; text-align: left; text-align: justify-all; padding-top: 10px; margibn-left: 20px !important; padding-bottom: 15px; margin-top: 95px; }
.opp { font-size: 20px; margin: 0 auto; margin-top: 5px; padding-left: 22px; }
.anu { padding-left: 18px; padding-top: 19px; padding-bottom: 20px; }
.btn .material-icons { position: relative; top: 5px; -moz-transition: all .4s ease; transition: all .4s ease; }
.btn:hover .material-icons { transform: translate(10px, 0px); }
.login-form { width: 470px; margin: 0 auto; padding: 20px; box-shadow: 0px 0px 8px #00000024; border-radius: 10px; margin-bottom: 90px; }

/* ------------ listactivities -------------*/
.session-details .machine-location { margin-top: 40px; margin-bottom: 80px; }
.activity-details h4 { color: #4f59a8; }

.search-wrap button.search { margin-top: 28px; }
.blue-btn { background: #4f59a8; }
.search-wrap { border: 1px solid #d8d8d8; padding: 20px; margin-bottom: 40px; }
.search-wrap .row { margin: 0; }
.activities .row { border-bottom: 1px solid #e5e5e5; padding: 20px 0; margin: 0; }
.blue-btn { text-transform: none; }
.activities .row .s9 { padding-left: 0; }
.activities .s3 { text-align: right; padding-right: 0; }
.activities .details span { color: #333; padding-right: 10px; font-size: 14px; }
.activities .details span .date { color: #666; }
.activities .details .material-icons { font-size: 14px; }
.pagination { text-align: center; margin: 60px 0; }
.activities h3 { font-size: 16px; }
.activities h3 span { background: #f8f7ca; font-size: 10px; font-weight: normal; padding: 2px 6px; border-radius: 16px; margin-left: 1em; }
.activities h3 span.competitions { background: #ffdbda; }
.activities h3 span.sessions { background: #f8f7ca; }
.activities h3 span.events { background: #ddf3f7; }
.activities .details span { font-size: 12px; color: #000; font-weight: bold; }
.activities .details .date { color: #666; font-weight: normal; padding-left: 8px; }
.pagination li { min-width: 30px; height: 30px; font-size: 14px; border-radius: 50%; }
.pagination li a { min-width: 30px; height: 30px; font-size: 12px; border-radius: 50%; }
.pagination li.active { background-color: #4f59a8; }
.btn.blue-border { border: 1px solid #4f59a8; background: none; color: #000; text-transform: none; }
.activities .btn-wrap a { text-transform: none; padding: 0 30px; border-radius: 2px; height: 36px; line-height: 36px; margin-left: 20px; }
.activities .btn-wrap { padding-top: 20px; }
.activiti-list .result-type { position: relative; padding-right: 0; }
#main-container .result-type .input-field { padding: 0; margin: 0; }
#main-container .result-type .input-field input { height: 40px; line-height: 40px; }
.activiti-list .select-wrapper { margin-left: 120px; }
.activiti-list .result-type  .input-field label { top: 10px; left: 0 }
.activiti-list  .result-status { font-weight: bold; padding-top: 6px; padding-left: 0; }
.dropdown-content li>a, .dropdown-content li>span { color: #666; }
.datepicker-date-display { background-color: #4f59a8; }
.datepicker-table td.is-today { color: #4f59a8; }
.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done { color: #000; }
.activity-details .slick-slider { width: 100%; padding: 10px; }
.activity-details .slick-slider .item img { display: block; width: 100%; }
.activity-details .slick-slider .item { padding: 0; }
.activity-details .slick-slider:before, .activity-details .slick-slider:after { content: ''; display: block; width: 300px; height: 300px; position: absolute; line-height: normal; }
.activity-details .slick-slider .slick-list { position: relative; z-index: 9; }
.activity-details .slick-slider:before { border-top: 10px solid #e2df1a; border-left: 10px solid #e2df1a; top: 0; left: 0; }
.activity-details .slick-slider:after { border-bottom: 10px solid #ff6560; border-right: 10px solid #ff6560; bottom: 9px; right: 0; }
.activity-details .slick-slider .slick-arrow { position: absolute; bottom: -20px; top: auto; right: auto; left: 0; width: 50px; height: 30px; overflow: hidden; border: 1px solid #ccc; }
.activity-details .slick-slider .slick-arrow.slick-prev { }
.activity-details .slick-slider .slick-arrow.slick-next { left: 60px; }
.activity-details .slick-next:before, .slick-prev:before { content: normal; }
.activity-details .details-wrap { padding: 80px 0; }
.activity-details .details-wrap h4 { color: #4f59a8; }
.activity-details .details-wrap .main-details { padding-left: 0; }
.activity-details .details-wrap table th, .activity-details .details-wrap table td { padding: 10px 0; }
.activity-details .details-wrap table th { width: 120px; }
#main-container { position: relative; }
.red-sq { border-color: #b20110; position: absolute; }
.activiti-list .red-sq.one { border-color: #b20110; top: 10%; right: 3%; }
.activiti-list .red-sq.two { border-color: #b20110; position: absolute; bottom: -1%; left: 3%; }
.activiti-list .search-wrap .multi-square.one { position: absolute; top: 3%; left: 30px; }
.activiti-list .multi-square.two { position: absolute; bottom: 37%; right: 3%; }
.btn.yellow-btn { background: #fdb714; color: #333; }







/* ------------ Responsive --------------*/
@media(min-width:640px) {
	.media-item .item-list ul, .media-item .videowrapper { margin: 5px 0 0; }
	.media-item .row { -webkit-flex-direction: row-reverse; flex-direction: row-reverse; }
	.media-item .row .col.s8, .media-item .row .col.s4 { margin: 0; }
}
@media(min-width:993px) {
	#main-header .sidenav { padding-top: 10px; }
	#main-nav { display: table; }
	#main-nav > li { display: table-cell; float: none; vertical-align: middle; }
	#main-header .container { margin: 0 3%; }
	.top-menu { float: left; width: auto; -webkit-box-shadow: none; box-shadow: none; }
	#main-header .sidenav { position: relative; width: auto; left: auto; top: auto; margin: 0; -webkit-transform: none; transform: none; height: auto; height: auto; height: auto; padding-bottom: 0; background-color: none; z-index: auto; overflow-y: visible; will-change: auto; -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-transform: none !important; transform: none !important; float: right; background: none; -webkit-box-shadow: none; box-shadow: none; }
	#main-header  .sidenav li>a { height: 36px; line-height: 36px; margin-left: 8px; }
	#main-nav.sidenav li a.get-started { margin-left: 20px; }
	.sidenav li >a { position: relative; margin: 0; padding: 0 16px; }
	.sidenav li > a:hover:after, .sidenav li > a.active:after { content: ''; display: block; height: 3px; background: #F44336; }
	#main-header .sidenav li>a { margin-left: 0; }
	.app-slider .banner-contact { display: block; background: none; box-shadow: none; width: auto; overflow: hidden; }
	.banner-contact .ph-em { display: flex; background: #fff; box-shadow: 0 2px 4px #0000004a; position: absolute; top: 0; left: -300px; width: 300px; }
	.banner-contact p.ct-title { position: relative; z-index: 99; width: 130px; cursor: pointer; }
	.banner-contact:hover .ph-em { left: 120px; }
	.banner-contact:hover { width: 430px; }
	.banner-contact { width: 130px; }
	.banner-contact, .banner-contact .ph-em { -webkit-transition: all .4s ease; -o-transition: all .4s ease; -ms-transition: all .4s ease; -moz-transition: all .4s ease; transition: all .4s ease; }
}
@media(min-width:1500px) {
	.zone-wrap { background-size: 100% 390px; }
	.zone-wrap .grey-square { bottom: 20px; }
	#register-wrap { background-size: 28%; background-position: 110% -46%; }
}
@media(max-width:992px) { }
@media(max-width:780px) { }
@media(max-width:720px) { }
@media(max-width:640px) {
	.flex-row, .row { display: block; justify-content: unset; }
	.two-col .col-md-6 { width: auto; }
	.col-2 .item, .col-3 .item { width: auto; padding-bottom: 40px }
	.zone-wrap { margin-top: 0; padding: 10px 0; }
	.row .col.s2, .row .col.s3, .row .col.s4, .row .col.s5, .row .col.s6, .row .col.s7, .row .col.s8, .row .col.s9, .row .col.s10, .row .col.s11 { width: auto; float: none; margin-bottom: 40px; }
	#main-container .row .col { width: 100%; margin-left: auto; left: auto; right: auto; }
	.banner-text { width: auto }
	.banner-text h1 { font-size: 40px; }
	.banner-text h3 { font-size: 22px; }
	.app-slider .banner-contact { left: 0; top: 20px; }
	.grey-square, .orange-circle, .multi-square, .multi-circle, .news-wrap .grey-square-rotate { display: none !important; }
	.page-title { background-image: none !important; }
	#main-content .owl-carousel .owl-nav .owl-prev { left: -30px !important; }
	#main-content .owl-carousel .owl-nav .owl-next { right: -30px !important; }
	.subscribe-form .col-2 .item { padding-bottom: 10px; }
	#main-header .brand-logo img { width: 250px; padding-left: 20px; padding-top: 7px; }
	.top-menu:after { content: ''; display: block; clear: both; }
	#main-header .sidenav-trigger i { line-height: 38px; width: 46px; border-radius: 0; height: 40px; }
	#main-header .sidenav-trigger { text-align: center; height: 40px; margin: 0; }
	#main-header .brand-logo { width: 220px; float: left; }
	.video-box { position: relative; height: auto; }
	.video-box video { position: relative; min-width: auto; min-height: auto; width: 100%; display: block; }
	.banner-text-wrapper { position: relative; background: #3c3c3c; padding-bottom: 50px; padding-left: 20px; padding-right: 10px; }
	.app-slider { height: auto; }
	.app-slider .sharefollow { left: 2%; }
	.app-slider .banner-contact { position: relative; display: block; top: 0; }
	.top-images { display: flex; padding: 0; }
	.top-images div { display: block; padding: 0 4px; }
	.top-images div img { top: auto !important; padding: 0; }
	.page-title .container { display: block; }
	.page-title .container h1 { margin-bottom: 20px; }
	.filter-wrap { margin-right: 0; }
	.grey-square-rotate { display: none; }
	.form-img { display: none; }
	.search-wrap .row .col, .activities .row .col { margin-bottom: 6px; }

}
